@media only screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (width: 384px) {
  html {
    font-size: 19.2px;
  }
}
@media only screen and (width: 400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (width: 412px) {
  html {
    font-size: 20.6px;
  }
}
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
@media only screen and (width: 480px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (width: 600px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (width: 640px) {
  html {
    font-size: 32px;
  }
}
@media only screen and (width: 768px) {
  html {
    font-size: 38.4px;
  }
}
@media only screen and (width: 800px) {
  html {
    font-size: 40px;
  }
}
@media only screen and (width: 1024px) {
  html {
    font-size: 51.2px;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
  #pc {
    width: 325px;
    height: 520px;
    position: absolute;
    left: 20%;
    top: 8%;
  }
}
body,
div,
table,
tr,
td {
  margin: 0;
  padding: 0;
  /*点击高亮效果， 手指点击 清除默认的 高亮效果  设置为透明*/
  -webkit-tap-highlight-color: transparent;
  font-family: "Microsoft YaHei";
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
  overflow: hidden;
}
.container .title {
  height: 14.28571429%;
  text-align: center;
  line-height: 4.8rem;
  background: #668788;
  font-size: 1.15rem;
  color: #ffffff;
  cursor: move;
}
.container .show {
  height: 18.57142857%;
  background: #070601;
  line-height: 6.5rem;
  text-align: right;
  font-size: 1.8rem;
  color: #ffffff;
  word-wrap: break-word;
}
.container .main {
  height: 67.14285714%;
  background: #322a1d;
  cursor: pointer;
}
.container .main table {
  height: 100%;
  border-collapse: collapse;
}
.container .main table tr {
  height: 14.28571429%;
}
.container .main table tr td {
  width: 5rem;
  border: 0.1rem solid #484131;
  text-align: center;
  font-size: 1.3rem;
  color: #C0BFB6;
}
